<a [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a>&nbsp;&nbsp;&nbsp;
  <a [routerLink]="['/register']" routerLinkActive="router-link-active" >Register</a>&nbsp;&nbsp;&nbsp;
  <a [routerLink]="['/staff']" routerLinkActive="router-link-active" >Staff</a>&nbsp;&nbsp;&nbsp;
  <a [routerLink]="['/standard']" routerLinkActive="router-link-active" >Standard</a>&nbsp;&nbsp;&nbsp;
  <a [routerLink]="['/attendance']" routerLinkActive="router-link-active" >Attendance</a>&nbsp;&nbsp;&nbsp;
  <a [routerLink]="['/complain']" routerLinkActive="router-link-active" >Complain</a>&nbsp;&nbsp;&nbsp;
  <a [routerLink]="['/feedback']" routerLinkActive="router-link-active" >FeedBack</a>&nbsp;&nbsp;&nbsp;
  <a [routerLink]="['/leave']" routerLinkActive="router-link-active" >Leave</a>&nbsp;&nbsp;&nbsp;
  <a [routerLink]="['/division']" routerLinkActive="router-link-active" >Division</a>&nbsp;&nbsp;&nbsp;
  <a [routerLink]="['/login']" routerLinkActive="router-link-active" >Login</a>&nbsp;&nbsp;&nbsp;
<router-outlet />
